body {
	background-image: url("../images/xmenalphacover.jpg");
	background-repeat: repeat;
	background-size: 100%;
	margin: 2%;
	color: black;
	font-weight: bolder;
}

h1 {
	color: black;
	font-weight: bold;
}

h1 small {
	color: red;
}

h3 {
	color: red;
}

/*.character {
	float: left;
}

.clearfix:after {
   content: " "; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}*/

.pic {
	width: 20%;
	align-content: center;
}